<% include header.ejs%>
<form method="post" action="/create">
    <div class="form-horizontal">
        <h4>Add Book</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="isbn">ISBN</label>
            <div class="col-md-10">
                <input type="text" name="isbn" maxlength="10" required placeholder="ISBN" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="title">Title</label>
            <div class="col-md-10">
                <input type="text" name="title" maxlength="15" required placeholder="Title" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Author">Author</label>
            <div class="col-md-10">
                <input type="text" name="author" maxlength="15" required placeholder="Author" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Publisher">Publisher</label>
            <div class="col-md-10">
                <input type="text" name="publisher" maxlength="15" required placeholder="Publisher" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Publication Date">Publication Date</label>
            <div class="col-md-10">
                <input type="date" name="publicationdate" required placeholder="Publication Date" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Genre">Genre</label>
            <div class="col-md-10">
                <input type="text" name="genre" maxlength="10" required placeholder="Genre" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Price">Price</label>
            <div class="col-md-10">
                <input type="number" name="price" max="10000" min="100" required placeholder="Price" value="" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>
<p>
    <a href="/">Back To List</a>
</p>
<% include footer.ejs%>
